<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
</style>
</head>
<body>

<ul>
 <li><a href="index.html">Home</a></li>
 <li><a href="binaitstelsel.html">Binair stelsel</a></li>
 <li><a href="kleurmodellen.html">Kleurmodellen</a></li>
</ul>

</body>
</html>



